web/.DS_STORE
web/node_modules
web/scripts/flow/*/.flowconfig
web/.flowconfig
web/*~
web/*.pyc
web/.grunt
web/_SpecRunner.html
web/__benchmarks__
web/build/
web/remote-repo/
web/coverage/
web/.module-cache
web/fixtures/dom/public/react-dom.js
web/fixtures/dom/public/react.js
web/test/the-files-to-test.generated.js
web/*.log*
web/chrome-user-data
web/*.sublime-project
web/*.sublime-workspace
web/.idea
web/*.iml
web/.vscode
web/*.swp
web/*.swo
web/
web/packages/react-devtools-core/dist
web/packages/react-devtools-extensions/chrome/build
web/packages/react-devtools-extensions/chrome/*.crx
web/packages/react-devtools-extensions/chrome/*.pem
web/packages/react-devtools-extensions/firefox/build
web/packages/react-devtools-extensions/firefox/*.xpi
web/packages/react-devtools-extensions/firefox/*.pem
web/packages/react-devtools-extensions/shared/build
web/packages/react-devtools-extensions/.tempUserDataDir
web/packages/react-devtools-inline/dist
web/packages/react-devtools-shell/dist
web/packages/react-devtools-timeline/dist

api/target
